<h2 class="text-lg font-semibold mb-4">Cities</h2>
<ul class="space-y-2">
	{% for city in cities %}
		<li>
			<a href="#" class="block p-2 bg-white rounded hover:bg-gray-200" data-record-id="1">{{ city.name }}</a>
		</li>
	{% endfor %}
</ul>
