{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<img src="{{ asset('images/sample.jpg') }} " alt="sample image" width="25%" height="25%">
    
<a href="{{ path
              ('app_customer_home') 
              }}">
              Customers
          </a>
{% endblock %}
