{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    
<a href="{{ path
              ('app_customer_home') 
              }}">
              Customers
          </a>
{% endblock %}
