parameters:
    level: 5
    fileExtensions:
        - php
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    tmpDir: var/phpstan
    ignoreErrors:
        - '#Property .*::\$id \(int\|null\) is never assigned int so it can be removed from the property type#'
